.btn-add-social {
  --background:transparent;
  --border-width: 1px;
  --border-style: solid;
  --border-color:var(--ion-color-primary, #3880ff);
  --color:var(--ion-color-primary, #3880ff);
  width: 70px;
  height: 70px;
}
