<ion-grid [fixed]="true" scrollable>
  <div class="video-bg">
    <video autoplay muted loop id="myVideoBg">
      <source [src]="['assets/media/waterfall.mp4']" type="video/mp4">
    </video>
  </div>
  <ion-row class="ion-justify-content-between ion-align-items-start" style="height: 100vh">
    <ion-col size="5">
      <ion-img class="ion-margin" [src]="['assets/tricotur-logo.png']"></ion-img>
    </ion-col>
    <ion-col size="12" class="ion-align-self-end">
      <div class="ion-margin">
        <ion-button expand="block" size="large" class="ion-text-wrap ion-text-start ion-text-capitalize ion-margin-bottom white-color" shape="round" [routerLink]="['/auth/register-panel/register-globetrotter']">Registrarme como trotamundos <ion-icon class="ion-margin-start medium-icon" name="trail-sign"></ion-icon></ion-button>
        <ion-button expand="block" size="large" class="ion-text-wrap ion-text-start ion-text-capitalize ion-margin-bottom white-color" shape="round">Registrarme como guía turístico <ion-icon class="ion-margin-start medium-icon" name="flag"></ion-icon></ion-button>
        <ion-button expand="block" size="large" class="ion-text-wrap ion-text-start ion-text-capitalize ion-margin-bottom white-color" shape="round">Registrarme como creador de contenido <ion-icon class="ion-margin-start medium-icon" name="home"></ion-icon></ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
